Repository 0xsequence/live-contracts: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn lint {staged_files}
    format:
      glob: '*.{js,ts,jsx,tsx,md,json}'
      run: yarn format {staged_files}

Add PaymentCombiner
  README.md
  scripts/deploy-contracts.ts
  scripts/factories/token_library/PaymentCombiner.ts
Due: lint, format

Add Soneium Minato
  README.md
Due: format

Add clawback
  README.md
  scripts/deploy-contracts.ts
  scripts/factories/token_library/Clawback.ts
  scripts/factories/token_library/ClawbackMetadata.ts
Due: lint, format

Add soulbound tokens
  README.md
  scripts/deploy-contracts.ts
  scripts/factories/token_library/ERC1155SoulboundFactory.ts
  scripts/factories/token_library/ERC721SoulboundFactory.ts
Due: lint, format

Fix format hook
  lefthook.yml
Due: none

Fix soulbound verification
  README.md
  scripts/deploy-contracts.ts
  scripts/factories/token_library/ERC1155SoulboundFactory.ts
  scripts/factories/token_library/ERC721SoulboundFactory.ts
Due: lint, format

Add Apechain
  README.md
Due: format

Add address check script
  README.md
  package.json
  scripts/check-deployed.ts
  scripts/config.ts
  scripts/deploy-contracts.ts
Due: lint, format

Add payments
  README.md
  scripts/config.ts
  scripts/deploy-contracts.ts
  scripts/factories/token_library/PaymentsFactory.ts
  scripts/wallets/SequencePaymentsSigner.ts
Due: lint, format

Add beacon verification
  scripts/deploy-contracts.ts
Due: lint, format

Add payment signers for next and prod
  README.md
  scripts/config.ts
  scripts/wallets/SequencePaymentsSigner.ts
Due: lint, format

Add LoggingProvider
  scripts/deploy-contracts.ts
  scripts/utils/LoggingProvider.ts
Due: lint, format

Add check funds script
  package.json
  scripts/check-funds.ts
Due: lint, format

Update dev payment addresses
  README.md
  scripts/wallets/SequencePaymentsSigner.ts
Due: lint, format

docs: readme
  README.md
Due: format

Fix blockscout verification
  package.json
  yarn.lock
Due: format

Deployed on root
  README.md
Due: format

Type check contract names
  README.md
  scripts/config.ts
  scripts/deploy-contracts.ts
  scripts/types.ts
  scripts/wallets/SequencePaymentsSigner.ts
Due: lint, format

Seperate verification from deployment
  package.json
  scripts/deploy-contracts.ts
  scripts/factories/marketplace/SequenceMarketFactoryV2.ts
  scripts/factories/token_library/ERC1155ItemsFactory.ts
  scripts/factories/token_library/ERC1155SaleFactory.ts
  scripts/factories/token_library/ERC1155SoulboundFactory.ts
  scripts/factories/token_library/ERC20ItemsFactory.ts
  scripts/factories/token_library/ERC721ItemsFactory.ts
  scripts/factories/token_library/ERC721SaleFactory.ts
  scripts/factories/token_library/ERC721SoulboundFactory.ts
  scripts/factories/token_library/PaymentCombiner.ts
  scripts/factories/token_library/PaymentsFactory.ts
  scripts/factories/token_library/TransparentUpgradeableBeaconProxy.ts
  scripts/factories/token_library/UpgradeableBeacon.ts
  scripts/verify-contracts.ts
Due: lint, format

Add passkey signer deployment
  README.md
  scripts/deploy-contracts.ts
  scripts/factories/v2/commons/EternalFactory.ts
  scripts/factories/v2/commons/MainModuleWebAuthnOnly.ts
  scripts/types.ts
  scripts/verify-contracts.ts
Due: lint, format

Add cancel transaction script
  package.json
  scripts/cancel-transaction.ts
Due: lint, format

Add Laos networks
  README.md
Due: format

Add marketv2 to batchpayable
  scripts/deploy-contracts.ts
  scripts/factories/marketplace/SequenceMarketBatchPayableFactoryV2.ts
  scripts/factories/marketplace/UUPSUpgradeable.ts
  scripts/types.ts
  scripts/verify-contracts.ts
  scripts/wallets/DeveloperMultisig.ts
Due: lint, format

Add immutable factories
  README.md
  scripts/config.ts
  scripts/deploy-contracts.ts
  scripts/factories/immutable/ImmutableERC1155Factory.ts
  scripts/factories/immutable/ImmutableERC721Factory.ts
  scripts/types.ts
  scripts/verify-contracts.ts
Due: lint, format

Add batch payable helper
  README.md
  scripts/deploy-contracts.ts
  scripts/factories/marketplace/BatchPayableHelper.ts
  scripts/types.ts
  scripts/verify-contracts.ts
Due: lint, format

Block deployment when transaction is pending
  scripts/deploy-contracts.ts
Due: lint, format

Print network config before blocking on pending tx
  scripts/deploy-contracts.ts
Due: lint, format

Fix BatchPayableHelper verification
  scripts/factories/marketplace/BatchPayableHelper.ts
Due: lint, format

Hooks only run on staged files
  lefthook.yml
Due: none

Add immutable factories
  README.md
  scripts/config.ts
  scripts/deploy-contracts.ts
  scripts/factories/token_library/immutable/ERC1155OperatorEnforcedFactory.ts
  scripts/factories/token_library/immutable/ERC721OperatorEnforcedFactory.ts
  scripts/types.ts
  scripts/verify-contracts.ts
Due: lint, format

Allow pk in env var
  .gitignore
  package.json
  scripts/config.ts
  yarn.lock
Due: lint, format

Fix soneium network links
  README.md
Due: format

Add etherlink
  README.md
Due: format

Add walletproxyhook
  README.md
  scripts/deploy-contracts.ts
  scripts/factories/v2/hooks/WalletProxyHook.ts
  scripts/types.ts
  scripts/verify-contracts.ts
Due: lint, format

OperaterEnforce verification
  scripts/verify-contracts.ts
Due: lint, format
