Repository 0xsequence/live-contracts: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: yarn eslint -c .eslintrc.js {staged_files}

format:
  run: yarn prettier --write {staged_files} && git add {staged_files}

Add deploy contracts
  scripts/deploy-contracts.ts
  scripts/factories/v3/Factory.ts
  scripts/factories/v3/Guest.ts
  scripts/factories/v3/Stage1Module.ts
  scripts/types.ts
Due: lint, format

Add passkeys extension
  scripts/deploy-contracts.ts
  scripts/factories/v3/Passkeys.ts
  scripts/types.ts
Due: lint, format

Update v3 contracts
  scripts/factories/v3/Guest.ts
  scripts/factories/v3/Passkeys.ts
  scripts/factories/v3/Stage1Module.ts
Due: lint, format

Update v3 contracts
  scripts/deploy-contracts.ts
  scripts/factories/v3/Factory.ts
  scripts/factories/v3/Guest.ts
  scripts/factories/v3/Passkeys.ts
  scripts/factories/v3/Recovery.ts
  scripts/factories/v3/Stage1Module.ts
  scripts/types.ts
Due: lint, format

Remove old anypay contracts
  scripts/deploy-contracts.ts
Due: lint, format

Update Stage1Module
  scripts/factories/v3/Stage1Module.ts
Due: lint, format

Add dev1 for v3
  scripts/deploy-contracts.ts
  scripts/factories/v3_dev1/Factory.ts
  scripts/factories/v3_dev1/Guest.ts
  scripts/factories/v3_dev1/Passkeys.ts
  scripts/factories/v3_dev1/Stage1Module.ts
  scripts/types.ts
Due: lint, format

Add 4337 version
  scripts/deploy-contracts.ts
  scripts/factories/v3/Stage1Module.ts
  scripts/types.ts
Due: lint, format

Add old anypay contracts
  scripts/deploy-contracts.ts
  scripts/mirror-transaction.ts
  scripts/types.ts
Due: lint, format

Add sessionmanager
  scripts/deploy-contracts.ts
  scripts/factories/v3/SessionManager.ts
  scripts/types.ts
  scripts/verify-contracts.ts
Due: lint, format

Add v3 addresses to README
  README.md
Due: format

Add sei chains
  .github/workflows/deploy.yml
Due: none

Add sei chains (#27)
  .github/workflows/deploy.yml
Due: none

Add somnia mainnet (#29)
  .github/workflows/deploy.yml
Due: none

ERC1155Sale hotfix
  README.md
  scripts/factories/token_library/ERC1155SaleFactory.ts
Due: lint, format

Update ERC721Sale
  README.md
  scripts/factories/token_library/ERC721SaleFactory.ts
Due: lint, format

Update library contracts to support implicit signals
  README.md
  scripts/factories/token_library/ERC1155ItemsFactory.ts
  scripts/factories/token_library/ERC1155PackFactory.ts
  scripts/factories/token_library/ERC1155SaleFactory.ts
  scripts/factories/token_library/ERC1155SoulboundFactory.ts
  scripts/factories/token_library/ERC20ItemsFactory.ts
  scripts/factories/token_library/ERC721ItemsFactory.ts
  scripts/factories/token_library/ERC721SaleFactory.ts
  scripts/factories/token_library/ERC721SoulboundFactory.ts
  scripts/factories/token_library/TransparentUpgradeableBeaconProxy.ts
  scripts/factories/token_library/UpgradeableBeacon.ts
  scripts/factories/token_library/constants.ts
  scripts/verify-contracts.ts
Due: lint, format

Show missing funds message with math
  scripts/deploy-contracts.ts
Due: lint, format

Add trails deployment info
  README.md
  scripts/deploy-contracts.ts
  scripts/factories/trails/TrailsMulticall3Router.ts
  scripts/factories/trails/Walletv3.ts
  scripts/types.ts
  scripts/verify-contracts.ts
Due: lint, format

Organise imports
  scripts/deploy-contracts.ts
  scripts/verify-contracts.ts
Due: lint, format

Add marketplace deployments
  .gitignore
  jobs/marketplace/artifacts/market-factory-v2.json
  jobs/marketplace/artifacts/market-v1.json
  jobs/marketplace/build-info/marketplace-v1.json
  jobs/marketplace/marketplace-v1.yaml
  jobs/marketplace/marketplace-v2.yaml
  jobs/niftyswap/artifacts/niftyswap-exchange-20-wrapper.json
  jobs/niftyswap/build-info/niftyswap-factory-20.json
  jobs/niftyswap/niftyswap.yaml
  jobs/sequence_v2/sequence-v2.yaml
  jobs/waas/build-info/trust-factory.json
  jobs/waas/trust-factory.yaml
  jobs/wallets_and_safes/developer-multisig.yaml
  output/waas-trust-factory.json
Due: format

Remove output files
  output/SEQ-0001.json
  output/guards-v1.json
  output/guards-v2.json
  output/sequence-v1.json
  output/sequence-v2.json
  output/waas-trust-factory.json
Due: format

Remove old job
  .github/workflows/deploy.yml
Due: none

Use constants for common values
  constants.yaml
  jobs/builder/clawback.yaml
  jobs/builder/factories.yaml
  jobs/marketplace/marketplace-v1.yaml
  jobs/marketplace/marketplace-v2.yaml
Due: none

Add payments
  .gitignore
  jobs/builder/artifacts/payment-combiner.json
  jobs/builder/build-info/payments-factory.json
  jobs/builder/payments.yaml
Due: format

Add value forwarder
  README.md
  scripts/deploy-contracts.ts
  scripts/factories/token_library/ValueForwarder.ts
  scripts/types.ts
  scripts/verify-contracts.ts
Due: lint, format

Fix patch jobs
  jobs/patches/SEQ-0001/seq0001.yaml
  jobs/sequence_v1/templates/deploy-wallet-v1.yaml
  jobs/sequence_v2/templates/deploy-wallet-v2.yaml
  jobs/sequence_v3/beta-4.yaml
Due: none

Fix payments job
  jobs/builder/payments.yaml
Due: none

Reuse template on deploy
  jobs/sequence_v1/templates/deploy-wallet-v1.yaml
  jobs/sequence_v2/templates/deploy-wallet-v2.yaml
Due: none

Add all networks
  networks.yaml
Due: none

Disable failing verify
  jobs/sequence_v3/beta-2.yaml
Due: none

Add proxy hook deploy
  jobs/sequence_v2/artifacts/proxy-hook.json
  jobs/sequence_v2/proxy-hook.yaml
Due: format

Add immutable operator enforced contracts
  jobs/builder/artifacts/ERC1155-Operator-Enforced-factory.json
  jobs/builder/artifacts/ERC721-Operator-Enforced-factory.json
  jobs/builder/immutable-factories.yaml
  jobs/sequence_v2/proxy-hook.yaml
Due: format

Add marketplace output
  jobs/marketplace/marketplace-v2.yaml
Due: none

Use salt constant
  jobs/builder/clawback.yaml
  jobs/builder/factories.yaml
  jobs/builder/payments.yaml
  jobs/marketplace/marketplace-v1.yaml
  jobs/marketplace/marketplace-v2.yaml
  jobs/niftyswap/niftyswap.yaml
  jobs/patches/SEQ-0001/seq0001.yaml
  jobs/sequence_v1/sequence-v1.yaml
  jobs/sequence_v2/sequence-v2.yaml
  jobs/waas/trust-factory.yaml
Due: none

Fix beta-2 v3
  jobs/sequence_v3/beta-2.yaml
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,md,json}
