Repository 0xsequence/live-contracts: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: yarn eslint -c .eslintrc.js {staged_files}

format:
  run: yarn prettier --write {staged_files} && git add {staged_files}

Add more chains
  README.md
Due: format

Add zr1
  README.md
Due: format

Add lootbox factory
  README.md
  scripts/deploy-contracts.ts
  scripts/factories/token_library/ERC1155LootboxFactory.ts
  scripts/types.ts
  scripts/verify-contracts.ts
Due: lint, format

Create CODEOWNERS
  CODEOWNERS
Due: none

Create CODEOWNERS (#12)
  CODEOWNERS
Due: none

Move lootbox in README
  README.md
Due: format

Update CODEOWNERS
  CODEOWNERS
Due: none

Update CODEOWNERS (#14)
  CODEOWNERS
Due: none

Update CODEOWNERS (#15)
  CODEOWNERS
Due: none

Lootbox (#13)
  README.md
  scripts/deploy-contracts.ts
  scripts/factories/token_library/ERC1155LootboxFactory.ts
  scripts/types.ts
  scripts/verify-contracts.ts
Due: lint, format

Deploy v3 stage1 and guest
  scripts/deploy-contracts.ts
  scripts/factories/v3/Guest.ts
  scripts/factories/v3/Stage1Module.ts
  scripts/types.ts
Due: lint, format

Replace chain list with link to status page
  README.md
Due: format

Replace chain list with link to status page (#16)
  README.md
Due: format

Add deploy contracts
  scripts/deploy-contracts.ts
  scripts/factories/v3/Factory.ts
  scripts/factories/v3/Guest.ts
  scripts/factories/v3/Stage1Module.ts
  scripts/types.ts
Due: lint, format

Add passkeys extension
  scripts/deploy-contracts.ts
  scripts/factories/v3/Passkeys.ts
  scripts/types.ts
Due: lint, format

Update developer multisig
  scripts/wallets/DeveloperMultisig.ts
Due: lint, format

Update developer multisig (#17)
  scripts/wallets/DeveloperMultisig.ts
Due: lint, format

rename lootbox to pack
  README.md
  scripts/deploy-contracts.ts
  scripts/download-source-code.ts
  scripts/factories/token_library/ERC1155PackFactory.ts
  scripts/types.ts
  scripts/verify-contracts.ts
Due: lint, format

remove lootbox factory
  scripts/factories/token_library/ERC1155LootboxFactory.ts
  scripts/verify-contracts.ts
Due: lint, format

Rename lootbox to pack (#18)
  README.md
  scripts/deploy-contracts.ts
  scripts/download-source-code.ts
  scripts/factories/token_library/ERC1155PackFactory.ts
  scripts/types.ts
  scripts/verify-contracts.ts
Due: lint, format

update pack contract
  README.md
  scripts/download-source-code.ts
  scripts/factories/token_library/ERC1155PackFactory.ts
  scripts/verify-contracts.ts
Due: lint, format

remove pk
  scripts/download-source-code.ts
Due: lint, format

update link
  scripts/download-source-code.ts
  scripts/factories/token_library/ERC1155PackFactory.ts
Due: lint, format

update pack factory address
  README.md
Due: format

Update pack contract (#19)
  README.md
  scripts/download-source-code.ts
  scripts/factories/token_library/ERC1155PackFactory.ts
  scripts/verify-contracts.ts
Due: lint, format

Update v3 contracts
  scripts/factories/v3/Guest.ts
  scripts/factories/v3/Passkeys.ts
  scripts/factories/v3/Stage1Module.ts
Due: lint, format

Guard patch secret can be global
  scripts/config.ts
Due: lint, format

Guard patch secret can be global (#20)
  scripts/config.ts
Due: lint, format

Add a test deployment to prevent bricking singleton and universal
  package.json
  scripts/deploy-contracts.ts
  yarn.lock
Due: lint, format

Add a test deployment to prevent bricking singleton and universal (#21)
  package.json
  scripts/deploy-contracts.ts
  yarn.lock
Due: lint, format

Update sales contracts
  README.md
  scripts/factories/token_library/ERC1155SaleFactory.ts
  scripts/factories/token_library/ERC721SaleFactory.ts
Due: lint, format

Update sales contracts (#22)
  README.md
  scripts/factories/token_library/ERC1155SaleFactory.ts
  scripts/factories/token_library/ERC721SaleFactory.ts
Due: lint, format

Update 1155SaleFactory
  README.md
  scripts/factories/token_library/ERC1155SaleFactory.ts
Due: lint, format

Update 1155SaleFactory (#23)
  README.md
  scripts/factories/token_library/ERC1155SaleFactory.ts
Due: lint, format

Add timeout
  scripts/config.ts
Due: lint, format

Better error logging
  scripts/deploy-contracts.ts
Due: lint, format

Add ci verification
  .github/workflows/deploy.yml
Due: none

Add ci success check
  .github/workflows/deploy.yml
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,md,json}
