Repository 0xsequence/live-contracts: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: yarn eslint -c .eslintrc.js {staged_files}

format:
  run: yarn prettier --write {staged_files} && git add {staged_files}

Use anvil default key
  .github/workflows/deploy.yml
Due: none

CI success is output file
  .github/workflows/deploy.yml
Due: none

Update CI chain list
  .github/workflows/deploy.yml
Due: none

CI derive rpcurl
  .github/workflows/deploy.yml
Due: none

Fix bnb chain name
  .github/workflows/deploy.yml
Due: none

CI run on branch push
  .github/workflows/deploy.yml
Due: none

CI max parallel 5 to prevent DOSing
  .github/workflows/deploy.yml
Due: none

Replace frequency with incentiv
  .github/workflows/deploy.yml
Due: none

Add CI badge to README
  README.md
Due: format

Add deployment verification to CI (#24)
  .github/workflows/deploy.yml
  README.md
  scripts/config.ts
  scripts/deploy-contracts.ts
Due: lint, format

Upgrade etherscan verification to v2
  config.sample.json
  package.json
  scripts/config.ts
  scripts/verify-contracts.ts
  yarn.lock
Due: lint, format

Upgrade etherscan verification to v2 (#25)
  config.sample.json
  package.json
  scripts/config.ts
  scripts/verify-contracts.ts
  yarn.lock
Due: lint, format

Update v3 contracts
  scripts/deploy-contracts.ts
  scripts/factories/v3/Factory.ts
  scripts/factories/v3/Guest.ts
  scripts/factories/v3/Passkeys.ts
  scripts/factories/v3/Recovery.ts
  scripts/factories/v3/Stage1Module.ts
  scripts/types.ts
Due: lint, format

Update download source script for new etherscan api
  scripts/download-source-code.ts
Due: lint, format

Update all contract to support implicit-signals
  README.md
  scripts/deploy-contracts.ts
  scripts/factories/token_library/Clawback.ts
  scripts/factories/token_library/ClawbackMetadata.ts
  scripts/factories/token_library/ERC1155ItemsFactory.ts
  scripts/factories/token_library/ERC1155PackFactory.ts
  scripts/factories/token_library/ERC1155SaleFactory.ts
  scripts/factories/token_library/ERC1155SoulboundFactory.ts
  scripts/factories/token_library/ERC20ItemsFactory.ts
  scripts/factories/token_library/ERC721ItemsFactory.ts
  scripts/factories/token_library/ERC721SaleFactory.ts
  scripts/factories/token_library/ERC721SoulboundFactory.ts
  scripts/factories/token_library/UpgradeableBeacon.ts
  scripts/verify-contracts.ts
Due: lint, format

Add implicit project registry
  README.md
  scripts/deploy-contracts.ts
  scripts/factories/v3/implicit/ImplicitProjectRegistry.ts
  scripts/types.ts
  scripts/verify-contracts.ts
Due: lint, format

Add 4337 version
  scripts/deploy-contracts.ts
  scripts/factories/v3/Stage1Module.ts
  scripts/types.ts
Due: lint, format

Add dev1 for v3
  scripts/deploy-contracts.ts
  scripts/factories/v3_dev1/Factory.ts
  scripts/factories/v3_dev1/Guest.ts
  scripts/factories/v3_dev1/Passkeys.ts
  scripts/factories/v3_dev1/Stage1Module.ts
  scripts/types.ts
Due: lint, format

Add sei chains
  .github/workflows/deploy.yml
Due: none

Update Stage1Module
  scripts/factories/v3/Stage1Module.ts
Due: lint, format

Add old anypay contracts
  scripts/deploy-contracts.ts
  scripts/mirror-transaction.ts
  scripts/types.ts
Due: lint, format

Add somnia mainnet
  .github/workflows/deploy.yml
Due: none

Use automated gas limit when not supplied
  scripts/deploy-contracts.ts
Due: lint, format

Use etherscan v2 api for source download
  scripts/download-source-code.ts
Due: lint, format

FIXME Comment out operator verification not working
  scripts/verify-contracts.ts
Due: lint, format

Construct seq wallet deploy with txParam as relayer doesn't use in inner tx
  scripts/wallets/DeveloperMultisig.ts
  scripts/wallets/SequencePaymentsSigner.ts
Due: lint, format

FIXME Comment out laos-sigma as not mining new blocks
  .github/workflows/deploy.yml
Due: none

FIXME Cooment out homeverse testnet. Verse not found
  .github/workflows/deploy.yml
Due: none

Minor updates for reliability (#30)
  .github/workflows/deploy.yml
  scripts/deploy-contracts.ts
  scripts/download-source-code.ts
  scripts/verify-contracts.ts
  scripts/wallets/DeveloperMultisig.ts
  scripts/wallets/SequencePaymentsSigner.ts
Due: lint, format

Drop evm version to support homeverse
  README.md
  scripts/factories/token_library/ERC1155SaleFactory.ts
Due: lint, format

Update ERC1155Sale
  README.md
  scripts/factories/token_library/ERC1155SaleFactory.ts
Due: lint, format

ERC1155Sale hotfix
  README.md
  scripts/factories/token_library/ERC1155SaleFactory.ts
Due: lint, format

update contracts sources
  README.md
  scripts/factories/token_library/ERC1155PackFactory.ts
  scripts/factories/token_library/ERC721ItemsFactory.ts
Due: lint, format

update addresses
  README.md
Due: format

update commit SHA
  scripts/factories/token_library/ERC1155PackFactory.ts
  scripts/factories/token_library/ERC721ItemsFactory.ts
Due: lint, format

Update 1155packs and 721items
  scripts/factories/token_library/ERC1155PackFactory.ts
  scripts/factories/token_library/ERC721ItemsFactory.ts
Due: lint, format

Fix verification for packs and items
  scripts/factories/token_library/ERC1155PackFactory.ts
  scripts/factories/token_library/ERC721ItemsFactory.ts
Due: lint, format

feat: init sapient signer contracts
  scripts/factories/sapient/TrailsCCTPV2SapientSigner.ts
  scripts/factories/sapient/TrailsLiFiSapientSigner.ts
  scripts/factories/sapient/TrailsRelaySapientSigner.ts
Due: lint, format

update ERC721Items and Packs (#28)
  README.md
  scripts/factories/token_library/ERC1155PackFactory.ts
  scripts/factories/token_library/ERC721ItemsFactory.ts
Due: lint, format

Deploy v3 stage1 and guest
  scripts/deploy-contracts.ts
  scripts/factories/v3/Guest.ts
  scripts/factories/v3/Stage1Module.ts
  scripts/types.ts
Due: lint, format

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,md,json}
